@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700&display=swap');

/*OVERALL*/

* {
    color: white;
}

body {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    background-color: #CC5A71;
  }

h1 {
    text-align: center;
}

div {
    border: none;
    background-color: #80475E;
    border-radius: 10px;
    padding: 10px;
}

/*SEARCH BAR*/

#search-form {
    background-color: #CC5A71;
    /*padding: 2% 0 2% 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;*/
    display: flex;
    justify-content: center;
    align-items: baseline;
}

/*#recipebar {
    display: flex;
    justify-content: center;
    border: red 5px solid;
}*/

#searchbar {
    color: black;
    height: 2em;
    margin-right: 0;
    /*width: 60%;*/
}

/*MAIN PAGE*/

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#recipe-block {
    margin: 1rem 1rem;
    width: 40%;
    word-wrap: break-word;
    text-align: center;
}

@media (max-width: 900px) {
    #recipe-block {
        width: 85%;
    }
}

h3 {
    font-size: 1.8rem;
}

#blog-label-block {
    font-style: italic;
}

#new-button {
    position: fixed;
    bottom: 5px;
    left: 5px;
}

/*NEW RECIPE FORM*/

form {
    background-color: #80475E;
    border-radius: 10px;
    padding: 2% 0 2% 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

label {
    display: flex;
    align-items: center;
    text-align: center;
  }

.option {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

input {
      width: 70%;
      color: black;
  }

.input-textarea {
    width: 70%;
    color: black;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.input-textarea::placeholder {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.name {
    color: black;
}

a {
    text-decoration: none;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
}

.button {
    text-decoration: none;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

#submit {
    background-color: #34344A;
    color: white;
    display: block;
    margin: 0 auto;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

button {
    background-color: #34344A;
    color: white;
    display: block;
    margin: 0 auto;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: white;
}

#submit:hover {
    background-color: white;
    color: #34344A;
}

a:hover {
    color: #34344A;
}